<app-navbar 
  [username]="username"
  [timeLeft]="timeLeft"
  [logout]="logout.bind(this)">
</app-navbar>

<div class="layout-body">
  <app-top-nav [userScreens]="userScreens"></app-top-nav>

  <main class="layout-content">
    <!-- Conditional rendering for 'usermanagement' route -->
    <ng-container *ngIf="router.url.includes('usermanagement'); else showRouterOutlet">
      <app-rbac-container></app-rbac-container>
    </ng-container>

    <ng-template #showRouterOutlet>
      <router-outlet></router-outlet>
    </ng-template>
  </main>
</div>
