<div class="mapwrap">
  <div
    #mapDiv
    id="map"
    class="mapDiv"
    aria-label="Luciad map"
  >
    <!-- Projection switcher -->
    <div class="proj-switch">
      <ria-projectionswitcher
        (choose)="onProjectionChoose($event)"
      ></ria-projectionswitcher>
    </div>

    <!-- Zoom / compass -->
    <button
      id="zoom-in"
      class="zoom-btn zoom-in"
      type="button"
      (click)="zoomBy(1.25)"
    >
      +
    </button>
    <button
      id="zoom-out"
      class="zoom-btn zoom-out"
      type="button"
      (click)="zoomBy(0.75)"
    >
      -
    </button>
    <button
      id="compass"
      class="compass"
      type="button"
      (click)="rotateNorth()"
    >
      <img
        [style.transform]="compassTransform"
        src="assets/img/compass.svg"
        alt="Compass"
      />
    </button>

    <!-- Mouse coordinates (bottom center) -->
    <div class="coords-wrap">
      <ria-mousecoords
        [point]="modelPoint$ | async"
        [referenceLabel]="currentProjKey"
      ></ria-mousecoords>
    </div>

    <!-- Altitude HUD (just below mouse coords) -->
    <div
      class="pick-alt-pill"
      *ngIf="pickingPhase === 'alt' && pickCurrentAlt !== null"
    >
      <div class="coords-pill">
        <span class="coords">
          Alt: {{ pickCurrentAlt | number:'1.0-0' }} m
        </span>
        <span class="ref">
          Move mouse up/down, click to confirm
        </span>
      </div>
    </div>

    <!-- Right panel: layer tree + editors -->
    <div class="rightcard clickable">
      <ria-layertree
        [map]="map"
        [collapsed]="!isLayerTreeOpen"
        (collapsedChange)="onLayertreeCollapsedChange($event)"
        (panelCollapseToggled)="onPanelCollapseToggled($event)"
        (nodeExpandToggled)="onNodeExpandToggled($event)"
        (nodeVisibilityToggled)="onNodeVisibilityToggled($event)"
      >
      </ria-layertree>

      <ria-style-editor
        *ngIf="map && vizFacade"
        [map]="map!"
        [viz]="vizFacade"
        [collapsed]="!isEditorOpen"
        (collapsedChange)="onEditorCollapsedChange($event)"
      >
      </ria-style-editor>

      <ria-location-editor
        *ngIf="map && vizFacade"
        [map]="map!"
        [viz]="vizFacade"
        [collapsed]="!isLocationOpen"
        (collapsedChange)="onLocationCollapsed($event)"
      >
      </ria-location-editor>
    </div>

    <!-- Left panel: pan control -->
    <div class="leftcard clickable">
      <ria-pancontrol [map]="map!"></ria-pancontrol>
    </div>
  </div>
</div>
