<div class="mapwrap">
  <div #mapDiv id="map" class="mapDiv" aria-label="Luciad map">

    <div class="proj-switch">
      <ria-projectionswitcher (choose)="onProjectionChoose($event)"></ria-projectionswitcher>
    </div>

    
    <button id="zoom-in"  class="zoom-btn zoom-in"  (click)="zoomBy(1.25)">+</button>
    <button id="zoom-out" class="zoom-btn zoom-out" (click)="zoomBy(0.75)">-</button>
    <button id="compass" class="compass" (click)="rotateNorth()">
      <img [style.transform]="compassTransform" src="assets/img/compass.svg" alt="Compass" />
  </button>


    <div class="coords-wrap">
      <ria-mousecoords [point]="modelPoint$ | async" [referenceLabel]="currentProjKey"></ria-mousecoords>
    </div>


    <div class="rightcard clickable">
      <ria-layertree
        [map]="map"
        [collapsed]="!isLayerTreeOpen"                
        (collapsedChange)="onLayertreeCollapsedChange($event)"
        (panelCollapseToggled)="onPanelCollapseToggled($event)"
        (nodeExpandToggled)="onNodeExpandToggled($event)"
        (nodeVisibilityToggled)="onNodeVisibilityToggled($event)">
      </ria-layertree>

      <ria-style-editor
        *ngIf="map && vizFacade"
        [map]="map!"
        [viz]="vizFacade"
        [collapsed]="!isEditorOpen"                  
        (collapsedChange)="onEditorCollapsedChange($event)">
      </ria-style-editor>

      <ria-location-editor
        *ngIf="map && vizFacade"
        [map]="map!"
        [viz]="vizFacade"
        [collapsed]="!isLocationOpen"
        (collapsedChange)="onLocationCollapsed($event)">
      </ria-location-editor>
      


    </div>




    <div class="leftcard clickable">
      <ria-pancontrol [map]="map!"></ria-pancontrol>
    </div>

  </div>
</div>
